@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@500&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style:none;
  /* color:white; */
  
font-family: 'Open Sans', sans-serif;
}
header{
width:100%;
color:white;
position:absolute;
top:0;
}
h1{
  padding:50px 0 0 100px;
  font-size:medium;
}
.container{
  width:100%;
  display:flex;
  justify-content: space-between;
}
.get{
  background-color:#0d42ff;
  padding:10px;
  border-radius:5px;
}
/* Style the hamburger button */
.hamburger {
  display: block;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
}

/* Style the menu */
.menu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #263d905b;
  color:white;
  border-radius:5px;
  position: absolute;
  top: 58px;
  right: 0;
  max-width:30%;
  z-index: 1;
}

/* Style the menu items */
.menu li {
  display: block;
}

/* Style the links inside the menu items */
.menu li a {
  display: block;
  color:white;
  text-align: left;
  padding: 12px 20px;
  text-decoration: none;
}
.menu li a:hover{
  color:rgb(116, 165, 208);
}


/* Change the background color of the active link */
.menu li a.active {
  background-color: #4CAF50;
  color: white;
}

/* Style the hamburger icon */
.hamburger span {
  float: right;
}

/* Show the menu when the hamburger button is clicked */
.hamburger-menu .hamburger:focus + .menu 
{
  display: block;
}
.hero{
  background-image: url("img/hero-bg.png");
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  height:60vh;
}
.herocntmain , .herocnt , .container2{
  width:100%;
  height:100%;
  color:black;
}
.herocntmain form{
background-color:white;
max-width:40%;
height:50px;
border-radius:5px;
text-align:center;
display:flex;
align-items:center;
justify-content: space-between;

}
.herocntmain{
  display:grid;
  align-items:center;
  padding:50px 0 0 100px;
}
.herocntmain form input{
  border:0;
  
}
.herocntmain a{
color:#0d42ff;
}
.btna{
  
  font-size:small;
  height:40px;
  display:flex;
}
.btna button{
  color:white;
  background-color:#0d42ff;
  border:0;
  border-radius:5px;
  padding:5px;
}
.btna a{
  width:70px;
  text-align:center;
  font-size:smaller;
  height:100%;
}